.fetched-markdown h1 {
    margin-bottom: 1.5rem;
}

.fetched-markdown h2 {
    margin: 1.25rem 0;
}

.fetched-markdown h3 {
    margin-bottom: 1rem;
}

.fetched-markdown h4 {
    margin: 1.5rem 0 0.75rem 0;
}
